h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.grid__item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin: 15px;
}
