.hero {
  @extend %dark-bg-color;

  padding-top: 118px;
  padding-bottom: 118px;

  margin-right: auto;
  margin-left: auto;

  background-color: var(--hero-bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: 479px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mainpage/hero/mobile-bgimg.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/mainpage/hero/mobile-bgimg@2x.jpg);
    }
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mainpage/hero/tablet-bgimg.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/mainpage/hero/tablet-bgimg@2x.jpg);
    }
  }
  @media (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mainpage/hero/desktop-bgimg.jpg);
    max-width: 1600px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/mainpage/hero/desktop-bgimg@2x.jpg);
    }
  }

  @media (min-width: 1024px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.616;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-color);

  @media (min-width: 1024px) {
    font-size: 44px;
    line-height: 1.364;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
