@media (max-width: 1199px) {
  .work {
    display: none;
  }
}

@media (min-width: 1200px) {
  .work {
    padding-top: 0;

    &__grid-item {
      --grid-item: 3;
    }

    &__item {
      position: relative;
    }

    &__name {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding-top: 27px;
      padding-bottom: 27px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      text-transform: uppercase;
      background-color: var(--dark-bg-color);
      opacity: 80%;
      color: var(--main-bg-color);
    }
  }
}
